/* Container principal dos lançamentos */
.lancamentos-container {
    background-color: #EADECE;
    padding: 0px;
    font-family: 'minhafonte', sans-serif;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20%;
    margin-top: 40px; /* Aumenta a distância acima do componente */
    margin-bottom: 40px; /* Aumenta a distância abaixo do componente */
}

/* Container onde os produtos são exibidos */
.produtos-display-produtos {
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 10px; /* Espaçamento entre os itens */
    margin : auto;
    padding: 50px;
    max-width: 1200px;
}

/* Estilos dos itens de produto */
.produto-item-produtos {
    padding: 10px;
    font-family: 'minhafonte', sans-serif;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20%;
}

/* Estilos das imagens dentro dos produtos */
.produto-item-produtos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0%;
}

/* Estilos para os títulos (h3) e parágrafos (p) dentro dos produtos */
.produto-item-lançamentos h3,
.produto-item-lançamentos p {
  color: black;
  margin: 10px 0;
  text-transform: lowercase;
}

/* Estilo para links dentro dos produtos */
.produto-item a {
    text-decoration: none;
    color: inherit;
}

/* Linha de separação entre os lançamentos */
.linha-lançamentos {
    border: 0;
    border-top: 2px solid #333;
    width: 600px;
    margin: 20px auto;
}

/* Estilos responsivos para telas menores (até 1024px de largura) */
@media (max-width: 1024px) {
    .produtos-display {
        gap: 10px;
        grid-template-columns: repeat(4, 1fr); /* Garante no máximo 4 itens por linha */
    }

    .produto-item {
        width: 100%; /* Ajusta o tamanho dos produtos */
    }
}

/* Estilos responsivos para telas muito pequenas (até 600px de largura) */
@media (max-width: 600px) {
    .produtos-display {
        gap: 5px;
        grid-template-columns: repeat(2, 1fr); /* Ajuste para 2 itens por linha em telas menores */
    }

    .produto-item {
        width: 100%;
    }
}
