.lancamentos-container {
    background-color: #EADECE;
    padding: 0px;
    font-family: 'minhafonte', sans-serif;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.produtos-display-produtos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    margin : auto;
    padding: 50px;
    max-width: 1200px;
}

.produto-item-produtos {
    padding: 10px;
    font-family: 'minhafonte', sans-serif;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20%;
}

.produto-item-produtos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0%;
}

.produto-item-lançamentos h3,
.produto-item-lançamentos p {
  color: black;
  margin: 10px 0;
  text-transform: lowercase;
}

.produto-item a {
    text-decoration: none;
    color: inherit;
}

.linha-lançamentos {
    border: 0;
    border-top: 2px solid #333;
    width: 600px;
    margin: 20px auto;
}

@media (max-width: 1024px) {
    .produtos-display {
        gap: 10px;
        grid-template-columns: repeat(4, 1fr); 
    }

    .produto-item {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .produtos-display {
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
    }

    .produto-item {
        width: 100%;
    }
}
