@font-face {
    font-family: 'MinhaFonte';
    src: url('/fonts/OTF/ClashDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'MinhaFonte', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: lowercase;
  }
  
  .detalhes-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .detalhes-produto h1 {
    font-size: 28px;
    color: #333;
    margin: 0;
  }
  
  .detalhes-conteudo {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 40px;
    text-align: left; 
  }
  
  .detalhes-conteudo img {
    width: 300px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .detalhes-informacoes {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  .detalhes-informacoes p {
    font-size: 16px;
    margin: 0;
    color: #555;
  }
  
  .detalhes-informacoes p:last-child {
    font-weight: bold;
    color: #000;
    font-size: 18px;
  }
  
  .adicionar-carrinho img {
    width: 50px; 
    height: 50px; 
  }
  