@font-face {
  font-family: 'MinhaFonte';
  src: url('assets/fonts/OTF/ClashDisplay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'MinhaFonte', sans-serif;
}